body {
    font-family: 'Play', sans-serif;
    background-image:url("img/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cccccc;
    width: 100%;
}

#map {
	position: relative;
}

#cities{

}

#Tokyo {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 43%;
	left: 82%;
	cursor: pointer;
}

#Seoul {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 43%;
	left: 79%;
	cursor: pointer;

}

#Beijing {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 42%;
	left: 76%;
	cursor: pointer;
}

#Shanghai {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 48%;
	left: 77%;
	cursor: pointer;
}

#HongKong {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 76%;
	cursor: pointer;
}

#NewDelhi {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 49%;
	left: 66%;
	cursor: pointer;
}

#KualaLumpur {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 60%;
	left: 72%;
	cursor: pointer;
}

#Singapore {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 62%;
	left: 73%;
	cursor: pointer;
}

#Jakarta {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 68%;
	left: 75%;
	cursor: pointer;
}


#Sydney {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 85%;
	left: 84%;
	cursor: pointer;
}

#Jerusalem {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 45%;
	left: 56%;
	cursor: pointer;
}

#Moskow {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 28%;
	left: 56%;
	cursor: pointer;
}

#Berlin {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 32%;
	left: 49.5%;
	cursor: pointer;
}

#Paris {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 34%;
	left: 47.5%;
	cursor: pointer;
}

#London {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 32%;
	left: 46.5%;
	cursor: pointer;
}

#Madrid {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 40%;
	left: 46%;
	cursor: pointer;
}

#Cairo {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 46%;
	left: 55%;
	cursor: pointer;
}

#Johannesburg {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 81%;
	left: 54%;
	cursor: pointer;
}

#Montreal {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 35%;
	left: 29%;
	cursor: pointer;
}

#NewYork {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 38%;
	left: 29%;
	cursor: pointer;
}

#Washington {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 39.5%;
	left: 28%;
	cursor: pointer;
}

#SanFrancisco {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 42%;
	left: 17%;
	cursor: pointer;
}

#LosAngeles {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 44%;
	left: 17.5%;
	cursor: pointer;
}

#RioDeJaneiro {
	background-color: #0061ff;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 77%;
	left: 35%;
	cursor: pointer;
}
