body {
    font-family: 'Play', sans-serif;
    background-image:url("img/0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cccccc;
    width: 100%;
}

/* html, body {
	height:100%;
	overflow:auto;
} */

#navbar {
	/* position: sticky; */
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
}

#navbar button {
	background-color: #001538;
	transition: .5 ease;
}

#navbar button:hover {
	background-color: #0061ff;
}

#map {
	position: relative;
}

#Tokyo {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 43%;
	left: 82%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Tokyo:hover {
	transform: scale(2);
}

#Seoul {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 43%;
	left: 79%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Seoul:hover {
	transform: scale(2);
}

#Beijing {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 42%;
	left: 76%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Beijing:hover {
	transform: scale(2);
}

#Shanghai {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 48%;
	left: 77%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Shanghai:hover {
	transform: scale(2);
}

#HongKong {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 76%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#HongKong:hover {
	transform: scale(2);
}

#NewDelhi {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 49%;
	left: 66%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#NewDelhi:hover {
	transform: scale(2);
}

#KualaLumpur {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 60%;
	left: 72%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#KualaLumpur:hover {
	transform: scale(2);
}

#Singapore {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 62%;
	left: 73%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Singapore:hover {
	transform: scale(2);
}

#Jakarta {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 68%;
	left: 75%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Jakarta:hover {
	transform: scale(2);
}


#Sydney {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 85%;
	left: 84%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Sydney:hover {
	transform: scale(2);
}

#Jerusalem {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 45%;
	left: 56%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Jerusalem:hover {
	transform: scale(2);
}

#Moskow {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 28%;
	left: 56%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Moskow:hover {
	transform: scale(2);
}

#Berlin {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 32%;
	left: 49.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Berlin:hover {
	transform: scale(2);
}

#Paris {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 34%;
	left: 47.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Paris:hover {
	transform: scale(2);
}

#London {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 32%;
	left: 46.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#London:hover {
	transform: scale(2);
}

#Madrid {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 40%;
	left: 46%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Madrid:hover {
	transform: scale(2);
}

#Cairo {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 46%;
	left: 55%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Cairo:hover {
	transform: scale(2);
}

#Johannesburg {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 81%;
	left: 54%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Johannesburg:hover {
	transform: scale(2);
}

#Montreal {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 35%;
	left: 29%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Montreal:hover {
	transform: scale(2);
}

#NewYork {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 38%;
	left: 29%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#NewYork:hover {
	transform: scale(2);
}

#Washington {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 39.5%;
	left: 28%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#Washington:hover {
	transform: scale(2);
}

#SanFrancisco {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 42%;
	left: 17%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#SanFrancisco:hover {
	transform: scale(2);
}

#LosAngeles {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 44%;
	left: 17.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#LosAngeles:hover {
	transform: scale(2);
}

#RioDeJaneiro {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 77%;
	left: 35%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#RioDeJaneiro:hover {
	transform: scale(2);
}

#line1 {
	width:1%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 21%;
	left: 5%;
	cursor: pointer;
}

#line2 {
	width:23.5%; 
	height:15%;
	position: absolute;
	z-index: 1;
	top: 21%;
	left: 6%;
	cursor: pointer;
}

#line3 {
	width:1%; 
	height:2.5%;
	position: absolute;
	z-index: 1;
	top: 36%;
	left: 29%;
	cursor: pointer;
}

#line4 {
	width:1%; 
	height:1.5%;
	position: absolute;
	z-index: 1;
	top: 39%;
	left: 28.3%;
	cursor: pointer;
}

#line5 {
	width:11.5%;
	height:3.4%;
	position: absolute;
	z-index: 1;
	top: 40.5%;
	left: 17%;
	cursor: pointer;
}

#line6 {
	width:1%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 43%;
	left: 17.1%;
	cursor: pointer;
}

#line7 {
	width:18%;
	height:33%;
	position: absolute;
	z-index: 1;
	top: 45%;
	left: 17.7%;
	cursor: pointer;
}

#line8 {
	width:1%; 
	height:2.5%;
	position: absolute;
	z-index: 1;
	top: 21%;
	left: 94.5%;
	cursor: pointer;
}

#line9 {
	width:38%; 
	height:8%;
	position: absolute;
	z-index: 1;
	top: 21%;
	left: 56.5%;
	cursor: pointer;
}

#line10 {
	width:6.5%; 
	height:4%;
	position: absolute;
	z-index: 1;
	top: 29%;
	left: 50%;
	cursor: pointer;
}

#line11 {
	width:2%; 
	height:2.2%;
	position: absolute;
	z-index: 1;
	top: 32.7%;
	left: 48%;
	cursor: pointer;
}

#line12 {
	width:1%;
	height:2%;
	position: absolute;
	z-index: 1;
	top: 32.5%;
	left: 46.8%;
	cursor: pointer;
}

#line13 {
	width:1.5%; 
	height:5.5%;
	position: absolute;
	z-index: 1;
	top: 35%;
	left: 46.3%;
	cursor: pointer;
}

#line14 {
	width:8%; 
	height:41%;
	position: absolute;
	z-index: 1;
	top: 41%;
	left: 46.5%;
	cursor: pointer;
}

#line15 {
	width:1.1%; 
	height:35%;
	position: absolute;
	z-index: 1;
	top: 47%;
	left: 54.3%;
	cursor: pointer;
}

#line16 {
	width:1%; 
	height:1%;
	position: absolute;
	z-index: 1;
	top: 46%;
	left: 55.3%;
	cursor: pointer;
}

#line17 {
	width:0.5%; 
	height:16%;
	position: absolute;
	z-index: 1;
	top: 29.4%;
	left: 56.1%;
	cursor: pointer;
}

#line18 {
	width:10%; 
	height:4%;
	position: absolute;
	z-index: 1;
	top: 45.5%;
	left: 56.5%;
	cursor: pointer;
}

#line19 {
	width:5.8%; 
	height:11%;
	position: absolute;
	z-index: 1;
	top: 49.5%;
	left: 66.5%;
	cursor: pointer;
}

#line20 {
	width:1.2%; 
	height:2.2%;
	position: absolute;
	z-index: 1;
	top: 60.5%;
	left: 72.2%;
	cursor: pointer;
}

#line21 {
	width:2%; 
	height:6%;
	position: absolute;
	z-index: 1;
	top: 63%;
	left: 73.3%;
	cursor: pointer;
}

#line22 {
	width:9%;
	height:16.5%;
	position: absolute;
	z-index: 1;
	top: 69%;
	left: 75.3%;
	cursor: pointer;
}

#line23 {
	width:4%; 
	height:9.5%;
	position: absolute;
	z-index: 1;
	top: 51%;
	left: 72.5%;
	cursor: pointer;
}

#line24 {
	width:10%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 49%;
	left: 66.5%;
	cursor: pointer;
}

#line25 {
	width:1%; 
	height:2.3%;
	position: absolute;
	z-index: 1;
	top: 48.5%;
	left: 76.5%;
	cursor: pointer;
}

#line26 {
	width:1.2%; 
	height:7%;
	position: absolute;
	z-index: 1;
	top: 42.5%;
	left: 76.3%;
	cursor: pointer;
}

#line27 {
	width:3%; 
	height:1.5%;
	position: absolute;
	z-index: 1;
	top: 42.5%;
	left: 76.3%;
	cursor: pointer;
}

#line28 {
	width:3%; 
	height:1.5%;
	position: absolute;
	z-index: 1;
	top: 43.3%;
	left: 79.5%;
	cursor: pointer;
}

#line29 {
	width:20%; 
	height:14%;
	position: absolute;
	z-index: 1;
	top: 28.5%;
	left: 56.5%;
	cursor: pointer;
}

#line30 {
	width:18%; 
	height:22%;
	position: absolute;
	z-index: 1;
	top: 21%;
	left: 76.2%;
	cursor: pointer;
}


/* LINES & FEES */

.conduct-line {
	position: relative;
	max-width: 800px; 
	margin: 0px auto;
	height: 200px;
}
.conduct-line h1 {
	font-size: 15px;
	text-align: left;
}

#conduct-line1 #Johannesburg {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 0%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #Johannesburg:hover {
	transform: scale(2);
}
#conduct-line1 #city1 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: -3%;
	top: 40%;
}

#conduct-line1 #line1 {
	background-color: #4286f4;
	width:10%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 0.5%;
	cursor: pointer;
}

#conduct-line1 #Madrid {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 10%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #Madrid:hover {
	transform: scale(2);
}
#conduct-line1 #city2 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 8.5%;
	top: 50%;
}

#conduct-line1 #line2 {
	background-color: #4286f4;
	width:2%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 10%;
	cursor: pointer;
}

#conduct-line1 #Paris1 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 12%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #Paris1:hover {
	transform: scale(2);
}
#conduct-line1 #city3 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 11%;
	top: 53%;
}

#conduct-line1 #line3 {
	background-color: #4286f4;
	width:2%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 12%;
	cursor: pointer;
}

#conduct-line1 #London {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 14%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #London:hover {
	transform: scale(2);
}
#conduct-line1 #city4 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 12%;
	top: 50%;
}

#conduct-line1 #line4 {
	background-color: #4286f4;
	width:2%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 14%;
	cursor: pointer;
}

#conduct-line1 #Paris2 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 16%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #Paris2:hover {
	transform: scale(2);
}
#conduct-line1 #city5 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 15%;
	top: 53%;
}

#conduct-line1 #line5 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 16%;
	cursor: pointer;
}

#conduct-line1 #Berlin {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 18%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #Berlin:hover {
	transform: scale(2);
}
#conduct-line1 #city6 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 16.8%;
	top: 52%;
}

#conduct-line1 #line6 {
	background-color: #4286f4;
	width: 12%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 18%;
	cursor: pointer;
}

#conduct-line1 #Moskow {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 30%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #Moskow:hover {
	transform: scale(2);
}
#conduct-line1 #city7 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 28%;
	top: 49%;
}

#conduct-line1 #line7 {
	background-color: #4286f4;
	width: 21%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 30%;
	cursor: pointer;
}

#conduct-line1 #line8 {
	background-color: #002666;
	width: 1%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 50%;
	cursor: pointer;
}

#conduct-line1 #bridge {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 45.5%;
	top: 34%;
}

#conduct-line1 #line9 {
	background-color: #4286f4;
	width: 13%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 51%;
	cursor: pointer;
}

#conduct-line1 #Montreal {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 64%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #Montreal:hover {
	transform: scale(2);
}
#conduct-line1 #city8 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 62%;
	top: 48%;
}

#conduct-line1 #line10 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 64%;
	cursor: pointer;
}

#conduct-line1 #NewYork {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 66%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #NewYork:hover {
	transform: scale(2);
}
#conduct-line1 #city9 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 64%;
	top: 47%;
}

#conduct-line1 #line11 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 66%;
	cursor: pointer;
}

#conduct-line1 #Washington {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 68%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #Washington:hover {
	transform: scale(2);
}
#conduct-line1 #city10 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 65.5%;
	top: 44%;
}

#conduct-line1 #line12 {
	background-color: #4286f4;
	width: 8%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 68%;
	cursor: pointer;
}

#conduct-line1 #SanFrancisco {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 76%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #SanFrancisco:hover {
	transform: scale(2);
}
#conduct-line1 #city11 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 72.6%;
	top: 42%;
}

#conduct-line1 #line13 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 76%;
	cursor: pointer;
}

#conduct-line1 #LosAngeles {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 78%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #LosAngeles:hover {
	transform: scale(2);
}
#conduct-line1 #city12 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 75%;
	top: 44%;
}

#conduct-line1 #line14 {
	background-color: #4286f4;
	width: 22%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 78%;
	cursor: pointer;
}

#conduct-line1 #RioDeJaneiro {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 100%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line1 #RioDeJaneiro:hover {
	transform: scale(2);
}
#conduct-line1 #city13 {
	transform: rotate(-70deg);
	position: absolute;
	font-size: 13px;
	left: 97%;
	top: 44%;
}

/*----------------*/

#conduct-line2 #Johannesburg {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 0%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line2 #Johannesburg:hover {
	transform: scale(2);
}

#conduct-line2 #line1 {
	background-color: #4286f4;
	width:10%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 0.5%;
	cursor: pointer;
}

#conduct-line2 #Cairo {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 10%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line2 #Cairo:hover {
	transform: scale(2);
}

#conduct-line2 #line2 {
	background-color: #4286f4;
	width:2%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 10%;
	cursor: pointer;
}

#conduct-line2 #Jerusalem {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 12%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line2 #Jerusalem:hover {
	transform: scale(2);
}

#conduct-line2 #line3 {
	background-color: #4286f4;
	width:18%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 12%;
	cursor: pointer;
}

#conduct-line2 #Moskow {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 30%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line2 #Moskow:hover {
	transform: scale(2);
}

#conduct-line2 #line7 {
	background-color: #4286f4;
	width: 20%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 30%;
	cursor: pointer;
}

#conduct-line2 #line8 {
	background-color: #002666;
	width: 1%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 50%;
	cursor: pointer;
}

#conduct-line2 #line9 {
	background-color: #4286f4;
	width: 13%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 51%;
	cursor: pointer;
}

#conduct-line2 #Montreal {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 64%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line2 #Montreal:hover {
	transform: scale(2);
}

#conduct-line2 #line10 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 64%;
	cursor: pointer;
}

#conduct-line2 #NewYork {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 66%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line2 #NewYork:hover {
	transform: scale(2);
}

#conduct-line2 #line11 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 66%;
	cursor: pointer;
}

#conduct-line2 #Washington {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 68%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line2 #Washington:hover {
	transform: scale(2);
}

#conduct-line2 #line12 {
	background-color: #4286f4;
	width: 8%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 68%;
	cursor: pointer;
}

#conduct-line2 #SanFrancisco {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 76%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line2 #SanFrancisco:hover {
	transform: scale(2);
}

#conduct-line2 #line13 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 76%;
	cursor: pointer;
}

#conduct-line2 #LosAngeles {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 78%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line2 #LosAngeles:hover {
	transform: scale(2);
}

#conduct-line2 #line14 {
	background-color: #4286f4;
	width: 22%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 78%;
	cursor: pointer;
}

#conduct-line2 #RioDeJaneiro {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 100%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line2 #RioDeJaneiro:hover {
	transform: scale(2);
}

/*----------------*/

#conduct-line3 #Johannesburg {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 0%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #Johannesburg:hover {
	transform: scale(2);
}

#conduct-line3 #line1 {
	background-color: #4286f4;
	width:10%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 0.5%;
	cursor: pointer;
}

#conduct-line3 #Cairo {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 10%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #Cairo:hover {
	transform: scale(2);
}

#conduct-line3 #line2 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 10%;
	cursor: pointer;
}

#conduct-line3 #Jerusalem {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 11.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #Jerusalem:hover {
	transform: scale(2);
}

#conduct-line3 #line3 {
	background-color: #4286f4;
	width:9%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 11.5%;
	cursor: pointer;
}

#conduct-line3 #NewDelhi {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 20%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #NewDelhi:hover {
	transform: scale(2);
}

#conduct-line3 #line4 {
	background-color: #4286f4;
	width:8%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 20%;
	cursor: pointer;
}

#conduct-line3 #HongKong {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 28%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #HongKong:hover {
	transform: scale(2);
}

#conduct-line3 #line5 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 28%;
	cursor: pointer;
}

#conduct-line3 #Shanghai {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 29.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #Shanghai:hover {
	transform: scale(2);
}

#conduct-line3 #line6 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 29.5%;
	cursor: pointer;
}

#conduct-line3 #Beijing1 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 31%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #Beijing1:hover {
	transform: scale(2);
}

#conduct-line3 #line7 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 31%;
	cursor: pointer;
}

#conduct-line3 #Seoul1 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 32.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #Seoul1:hover {
	transform: scale(2);
}

#conduct-line3 #line8 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 32.5%;
	cursor: pointer;
}

#conduct-line3 #Tokyo {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 34%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #Tokyo:hover {
	transform: scale(2);
}

#conduct-line3 #line9 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 34%;
	cursor: pointer;
}

#conduct-line3 #Seoul2 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 35.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #Seoul2:hover {
	transform: scale(2);
}

#conduct-line3 #line10 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 35.5%;
	cursor: pointer;
}

#conduct-line3 #Beijing2 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 37%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #Beijing2:hover {
	transform: scale(2);
}

#conduct-line3 #line11 {
	background-color: #4286f4;
	width: 14%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 37%;
	cursor: pointer;
}

#conduct-line3 #line12 {
	background-color: #002666;
	width: 1%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 50%;
	cursor: pointer;
}

#conduct-line3 #line13 {
	background-color: #4286f4;
	width: 13%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 51%;
	cursor: pointer;
}

#conduct-line3 #Montreal {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 64%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #Montreal:hover {
	transform: scale(2);
}

#conduct-line3 #line14 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 64%;
	cursor: pointer;
}

#conduct-line3 #NewYork {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 66%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #NewYork:hover {
	transform: scale(2);
}

#conduct-line3 #line15 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 66%;
	cursor: pointer;
}

#conduct-line3 #Washington {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 68%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #Washington:hover {
	transform: scale(2);
}

#conduct-line3 #line16 {
	background-color: #4286f4;
	width: 8%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 68%;
	cursor: pointer;
}

#conduct-line3 #SanFrancisco {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 76%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #SanFrancisco:hover {
	transform: scale(2);
}

#conduct-line3 #line17 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 76%;
	cursor: pointer;
}

#conduct-line3 #LosAngeles {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 78%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #LosAngeles:hover {
	transform: scale(2);
}

#conduct-line3 #line18 {
	background-color: #4286f4;
	width: 22%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 78%;
	cursor: pointer;
}

#conduct-line3 #RioDeJaneiro {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 100%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line3 #RioDeJaneiro:hover {
	transform: scale(2);
}

/*----------------*/

#conduct-line4 #Johannesburg {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 0%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line4 #Johannesburg:hover {
	transform: scale(2);
}

#conduct-line4 #line1 {
	background-color: #4286f4;
	width:10%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 0.5%;
	cursor: pointer;
}

#conduct-line4 #Cairo {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 10%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line4 #Cairo:hover {
	transform: scale(2);
}

#conduct-line4 #line2 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 10%;
	cursor: pointer;
}

#conduct-line4 #Jerusalem {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 11.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line4 #Jerusalem:hover {
	transform: scale(2);
}

#conduct-line4 #line3 {
	background-color: #4286f4;
	width:9%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 11.5%;
	cursor: pointer;
}

#conduct-line4 #NewDelhi {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 20%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line4 #NewDelhi:hover {
	transform: scale(2);
}

#conduct-line4 #line4 {
	background-color: #4286f4;
	width:7%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 20%;
	cursor: pointer;
}

#conduct-line4 #KualaLumpur {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 27%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line4 #KualaLumpur:hover {
	transform: scale(2);
}

#conduct-line4 #line5 {
	background-color: #4286f4;
	width:2%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 27%;
	cursor: pointer;
}

#conduct-line4 #Singapore {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 29%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line4 #Singapore:hover {
	transform: scale(2);
}

#conduct-line4 #line6 {
	background-color: #4286f4;
	width:4%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 29%;
	cursor: pointer;
}

#conduct-line4 #Jakarta {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 33%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line4 #Jakarta:hover {
	transform: scale(2);
}

#conduct-line4 #line7 {
	background-color: #4286f4;
	width:10%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 33%;
	cursor: pointer;
}

#conduct-line4 #Sydney {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 43%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line4 #Sydney:hover {
	transform: scale(2);
}

/*----------------*/

#conduct-line5 #Sydney {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 0%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Sydney:hover {
	transform: scale(2);
}

#conduct-line5 #line1 {
	background-color: #4286f4;
	width:10%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 0%;
	cursor: pointer;
}

#conduct-line5 #Jakarta {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 10%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Jakarta:hover {
	transform: scale(2);
}

#conduct-line5 #line2 {
	background-color: #4286f4;
	width:4%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 10%;
	cursor: pointer;
}

#conduct-line5 #Singapore {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 14%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Singapore:hover {
	transform: scale(2);
}

#conduct-line5 #line3 {
	background-color: #4286f4;
	width:2%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 14%;
	cursor: pointer;
}

#conduct-line5 #KualaLumpur {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 16%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #KualaLumpur:hover {
	transform: scale(2);
}

#conduct-line5 #line4 {
	background-color: #4286f4;
	width:6%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 16%;
	cursor: pointer;
}

#conduct-line5 #HongKong {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 22%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #HongKong:hover {
	transform: scale(2);
}

#conduct-line5 #line5 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 22%;
	cursor: pointer;
}

#conduct-line5 #Shanghai {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 23.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Shanghai:hover {
	transform: scale(2);
}

#conduct-line5 #line6 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 23.5%;
	cursor: pointer;
}

#conduct-line5 #Beijing1 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 25%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Beijing1:hover {
	transform: scale(2);
}

#conduct-line5 #line7 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 25%;
	cursor: pointer;
}

#conduct-line5 #Seoul1 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 26.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Seoul1:hover {
	transform: scale(2);
}

#conduct-line5 #line8 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 26.5%;
	cursor: pointer;
}

#conduct-line5 #Tokyo {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 28%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Tokyo:hover {
	transform: scale(2);
}

#conduct-line5 #line9 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 28%;
	cursor: pointer;
}

#conduct-line5 #Seoul2 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 29.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Seoul2:hover {
	transform: scale(2);
}

#conduct-line5 #line10 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 29.5%;
	cursor: pointer;
}

#conduct-line5 #Beijing2 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 31%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Beijing2:hover {
	transform: scale(2);
}

#conduct-line5 #line11 {
	background-color: #4286f4;
	width:14%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 31%;
	cursor: pointer;
}

#conduct-line5 #Moskow {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 45%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Moskow:hover {
	transform: scale(2);
}

#conduct-line5 #line12 {
	background-color: #4286f4;
	width:10%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 45%;
	cursor: pointer;
}

#conduct-line5 #Berlin {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 55%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Berlin:hover {
	transform: scale(2);
}

#conduct-line5 #line13 {
	background-color: #4286f4;
	width:2%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 55%;
	cursor: pointer;
}

#conduct-line5 #Paris1 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 57%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Paris1:hover {
	transform: scale(2);
}

#conduct-line5 #line14 {
	background-color: #4286f4;
	width:2%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 57%;
	cursor: pointer;
}

#conduct-line5 #London {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 59%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #London:hover {
	transform: scale(2);
}

#conduct-line5 #line15 {
	background-color: #4286f4;
	width:2%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 59%;
	cursor: pointer;
}

#conduct-line5 #Paris2 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 61%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Paris2:hover {
	transform: scale(2);
}

#conduct-line5 #line16 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 61%;
	cursor: pointer;
}

#conduct-line5 #Madrid {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 63%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line5 #Madrid:hover {
	transform: scale(2);
}

/*----------------*/

#conduct-line6 #Sydney {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 0%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #Sydney:hover {
	transform: scale(2);
}

#conduct-line6 #line1 {
	background-color: #4286f4;
	width:10%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 0%;
	cursor: pointer;
}

#conduct-line6 #Jakarta {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 10%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #Jakarta:hover {
	transform: scale(2);
}

#conduct-line6 #line2 {
	background-color: #4286f4;
	width:4%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 10%;
	cursor: pointer;
}

#conduct-line6 #Singapore {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 14%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #Singapore:hover {
	transform: scale(2);
}

#conduct-line6 #line3 {
	background-color: #4286f4;
	width:2%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 14%;
	cursor: pointer;
}

#conduct-line6 #KualaLumpur {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 16%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #KualaLumpur:hover {
	transform: scale(2);
}

#conduct-line6 #line4 {
	background-color: #4286f4;
	width:6%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 16%;
	cursor: pointer;
}

#conduct-line6 #HongKong {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 22%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #HongKong:hover {
	transform: scale(2);
}

#conduct-line6 #line5 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 22%;
	cursor: pointer;
}

#conduct-line6 #Shanghai {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 23.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #Shanghai:hover {
	transform: scale(2);
}

#conduct-line6 #line6 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 23.5%;
	cursor: pointer;
}

#conduct-line6 #Beijing1 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 25%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #Beijing1:hover {
	transform: scale(2);
}

#conduct-line6 #line7 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 25%;
	cursor: pointer;
}

#conduct-line6 #Seoul1 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 26.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #Seoul1:hover {
	transform: scale(2);
}

#conduct-line6 #line8 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 26.5%;
	cursor: pointer;
}

#conduct-line6 #Tokyo {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 28%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #Tokyo:hover {
	transform: scale(2);
}

#conduct-line6 #line9 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 28%;
	cursor: pointer;
}

#conduct-line6 #Seoul2 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 29.5%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #Seoul2:hover {
	transform: scale(2);
}

#conduct-line6 #line10 {
	background-color: #4286f4;
	width:1.5%; 
	height:2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 29.5%;
	cursor: pointer;
}

#conduct-line6 #Beijing2 {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 31%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #Beijing2:hover {
	transform: scale(2);
}

#conduct-line6 #line11 {
	background-color: #4286f4;
	width: 14%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 31%;
	cursor: pointer;
}

#conduct-line6 #line12 {
	background-color: #002666;
	width: 1%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 45%;
	cursor: pointer;
}

#conduct-line6 #line13 {
	background-color: #4286f4;
	width: 13%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 46%;
	cursor: pointer;
}

#conduct-line6 #Montreal {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 59%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #Montreal:hover {
	transform: scale(2);
}

#conduct-line6 #line14 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 59%;
	cursor: pointer;
}

#conduct-line6 #NewYork {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 61%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #NewYork:hover {
	transform: scale(2);
}

#conduct-line6 #line15 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 61%;
	cursor: pointer;
}

#conduct-line6 #Washington {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 63%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #Washington:hover {
	transform: scale(2);
}

#conduct-line6 #line16 {
	background-color: #4286f4;
	width: 8%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 63%;
	cursor: pointer;
}

#conduct-line6 #SanFrancisco {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 71%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #SanFrancisco:hover {
	transform: scale(2);
}

#conduct-line6 #line17 {
	background-color: #4286f4;
	width: 2%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 71%;
	cursor: pointer;
}

#conduct-line6 #LosAngeles {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 73%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #LosAngeles:hover {
	transform: scale(2);
}

#conduct-line6 #line18 {
	background-color: #4286f4;
	width: 22%; 
	height: 2%;
	position: absolute;
	z-index: 1;
	top: 70.5%;
	left: 73%;
	cursor: pointer;
}

#conduct-line6 #RioDeJaneiro {
	background-color: #002666;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	top: 70%;
	left: 95%;
	cursor: pointer;
	transform: scale(1);
	transition: .5s ease;
}
#conduct-line6 #RioDeJaneiro:hover {
	transform: scale(2);
}







caption {
	caption-side: top;
	font-size: 12px; 
	color: black;
}

.table-sticky>thead>tr>th,
.table-sticky>thead>tr>td {
	top: -1px;
	position: sticky;
}

.table-height {
	height: 500px;
	display: block;
	overflow: scroll;
}

#fees1 table td {
	font-size: 10px;
	vertical-align: middle;
	cursor: pointer;
	color: black;
}

#fees1 table th {
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	cursor: pointer;
}

#fees1 table thead tr th{
	background-color: #001538;
}

#fees1 table tbody tr th{
	color: #001538;
}

#fees2 table td {
	font-size: 10px;
	vertical-align: middle;
	cursor: pointer;
	color: black;
}

#fees2 table th {
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
}

#fees2 table thead tr th{
	background-color: #001538;
}

#fees2 table tbody tr th{
	color: #001538;
}

#to-bottom {
	background-color: #001538;
	color: white;
    cursor: pointer;
    font-size: 12px;
    height: 40px;
    padding-top: 1px;
    border: 1px solid white;
    border-radius: 2px;
    font-weight: bold;
    transition: .5 ease;
}

#to-bottom:hover {
	background-color: #0061ff;
}

#back-to-top {
	background-color: #001538;
	color: white;
    cursor: pointer;
    font-size: 12px;
    height: 40px;
    padding-top: 1px;
    border: 1px solid white;
    border-radius: 2px;

    font-weight: bold;
    transition: .5 ease;
}

#back-to-top:hover {
	background-color: #0061ff;
}

